<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{problem.title}} | Math Contest Repository</title>
    <meta name="keywords" content="{{problem.title}}, {{problem.code}}, math, contest, preparation, CEMC, University of Waterloo, high school, problems, solutions, practice, repository">
    
    <!-- Open Graph Protocol meta tags for social media embeds -->
    <meta property="og:title" content="Math Contest Repository">
    <meta property="og:description" content="{{problem.body}}">
    <meta property="og:image" content="https://mathcontestrepository.github.io/logo.png">
    <meta property="og:url" content="https://www.mathcontestrepository.pythonanywhere.com">
    <meta property="og:type" content="website">
  <!-- Link your CSS file here -->
  <link rel="stylesheet" href="https://mathcontestrepository.github.io/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Biryani&display=swap" rel="stylesheet">
<link rel="icon" href="https://mathcontestrepository.github.io/whitelogo.png">
</head>
<body>
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$']],
        displayMath: [['$$', '$$']]
      }
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3.2.1/es5/tex-chtml.js"></script>
  <div class="container">
    <header>
      <img style="width:5em;filter:invert(100%)" src="https://mathcontestrepository.github.io/logo.png">
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/problems">Problems</a></li>
        <li><a href="/contests">Contests</a></li>
	<li><a href="/users">Leaderboard</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <main>
      <div class="content">
        <div class="problem">
          <h2>{% if current_user.is_authenticated %}{% if problem.code in current_user.solved.split() %}<img style="width:1em" src="https://mathcontestrepository.github.io/solved.png"> {%endif%} {% endif %}{{problem.title}}</h2>
		{%if current_user.is_authenticated %}{% if current_user.admin == 1 or problem.uploader == current_user.username %}
		<h4><a href="/edit-problem/{{problem.code}}">Edit Problem</a></h4>{%endif%}{%endif%}
	  <div style="line-height:0.6">
		  {% if problem.uploader != "volcano" %}
		  <h4>Contributed by: <a {% if user.rating != 0 %} style="color:  {% if user.rating > 0 and user.rating < 100 %} #9ca39b {% elif user.rating < 300 %} #2ec912 {% elif user.rating < 500 %} #1454b5 {% elif user.rating < 800 %} #c4bf16 {% elif user.rating < 1200 %} #c43616 {% elif user.rating >= 1200 %} #541203 {% endif %}" {% endif %} href="/user/{{user.username}}">{{user.username}}</a></h4>
		  {% endif %}
		  <h4>Difficulty: {{problem.points}}</h4>
{% if tags|length > 0 %}
          <h4>This problem is tagged with {% for i in range(tags|length) %} <a href="/problems/search/tags/submit?term={{tags[i]}}">{{tags[i]}}</a>{% if i != (tags|length)-1 %}, {%endif%}{%endfor%}.</h4>
{% endif %}
	  </div>
		{% autoescape false %}
          <p>{{problem.body}}</p>
		  {%endautoescape%}
        </div>
        <div class="answer-form">
		{% if current_user.is_authenticated %}
          <form action="/problem/{{problem.code}}/submit" method="post">
            <label for="ans">Your Answer:</label>
            <input type="text" id="ans" name="ans" placeholder="Enter your answer" required>
            <button type="submit">Check Answer</button>
          </form>
		{% else %}
		<p>Please <a href="/login">login</a> or <a href="/signup">sign up</a> to submit and check if your answer is correct.</p>
		{% endif %}
        </div>
      </div>
    </main>
  </div>

  <footer>
    &copy; 2023 Math Contest Repository<br>
    <a style="color: white" href="https://discord.gg/xv6ZEnVJaR">Join our Discord server!</a>
  </footer>
</body>
</html>
