<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math Contest Repository - Submission #{{sub.id}}</title>
  <!-- Link your CSS file here -->
  {% if current_user.is_authenticated and current_user.darkmode == 1 %}
	<link rel="stylesheet" href="https://mathcontestrepository.github.io/dark.css">
  {% else %}
	<link rel="stylesheet" href="https://mathcontestrepository.github.io/style.css">
  {% endif %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
<link rel="icon" href="https://mathcontestrepository.github.io/whitelogo.png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<!-- Include the noUiSlider CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css" />

<!-- Include jQuery (required for noUiSlider) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include the noUiSlider JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.js"></script>

	<style>
		/* Adjust the size of the slider container */
        #slider {
            width: 200px; /* Set your desired width */
            margin: 20px;
        }

        /* Adjust the size of the handles */
        .noUi-handle {
            width: 22px !important; /* Set your desired width */
            height: 22px !important; /* Set your desired height */
        }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
</style>
</head>
<body>
<script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$']],
        displayMath: [['$$', '$$']]
      }
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3.2.1/es5/tex-chtml.js"></script>
  <div class="container">
    <header class="header2">
      <img style="width:5em;filter:invert(100%)" src="https://mathcontestrepository.github.io/logo.png">
    </header>

<nav class="nav2" style="display: none">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/problems">Problems</a></li>
        <li><a href="/contests">Contests</a></li>
	<li><a href="/users">Leaderboard</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <nav>
<header>
      <img style="width:8em;filter:invert(100%)" src="https://mathcontestrepository.github.io/logo.png">
    </header>
      <ul>
        <li><a href="/"><span class="material-symbols-outlined">home</span><br>Home</a></li>
        <li><a href="/problems"><span class="material-symbols-outlined">toys_and_games</span><br>Problems</a></li>
        <li><a href="/contests"><span class="material-symbols-outlined">trophy</span><br>Contests</a></li>
	<li><a href="/users"><span class="material-symbols-outlined">stars</span><br>Leaderboard</a></li>
        <li><a href="/about"><span class="material-symbols-outlined">waving_hand</span><br>About</a></li>
      </ul>
    </nav>

    <main>
      <div style="line-height: 0.8">
      <h2>Submission #{{sub.id}}</h2>
<p><code>{{sub.text}}</code></p>
<p>Result: <img style="width: 1.2em" class="mark" src="https://mathcontestrepository.github.io/solved.png"></p>
</div>


    </main>
  </div>

  <footer>
    &copy; 2023-2024 Math Contest Repository<br>
  </footer>
	  <script>
    // Get the URL parameters
    const urlParams = new URLSearchParams(window.location.search);

    // Get the value of the 'this' parameter
    var minVal = urlParams.get('min_point');
    var maxVal = urlParams.get('max_point');
    var hide = urlParams.get('hide_solved');
    if (hide == 'true') {
       var checkbox = document.getElementById("customCheckbox");
       checkbox.checked = true;
    }

    // Log or use the value as needed
    if (minVal == null) {
      minVal = 0;
    }
    if (maxVal == null) {
      maxVal = 20;
    }

$(document).ready(function() {
    var slider = document.getElementById('slider');
    var minValue = document.getElementById('min-value');
    var maxValue = document.getElementById('max-value');

    noUiSlider.create(slider, {
        start: [minVal, maxVal], // Initial values for min and max
        connect: true,
        range: {
            'min': 0,
            'max': 20
        },

    });

    slider.noUiSlider.on('update', function(values, handle) {
        if (handle === 0) {
            minValue.value = Math.round(values[0]);
        }
        if (handle === 1) {
            maxValue.value = Math.round(values[1]);
        }
    });
});

function submitForm() {
        // Get the checkbox element
	{% if current_user.is_authenticated %}
        var checkbox = document.getElementById('customCheckbox');

        // Get the form element
        var form = document.getElementById('myForm');
        // Update the form action based on the checkbox state
        if (checkbox.checked) {
            var hd = document.getElementById('hide_solved');
		hd.value = 'true';
        } else {
            var hd = document.getElementById('hide_solved');
		hd.value = 'false';
        }

        // Submit the form
        form.submit();
	{% else %}
	var form = document.getElementById('myForm');
	form.submit();
	{% endif %}
    }

  </script>
</body>
</html>
